.footer {

  font-family: inherit;
  color: inherit;
  width: inherit;

  &__links {
    &__group {
      margin: 0;
      @media (max-width: 600px) {
        margin: 0;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      h3 {
        color: rgb(107, 114, 128);
        font-size: 0.95rem;
        margin-bottom: 0.7rem;
      }
    }
    // border-top: 1px solid #0b213e;
    // border-bottom: 1px solid #0b213e;
    display: flex;
    // // align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 2rem;
    // display: grid;
    // // align-items: center;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

   // padding: 2rem 3rem;
    // margin-top: 2rem;
    @media (max-width: 800px) {
      display: grid;
      grid-gap:1rem  0rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
    p {
      text-align: left;
      font-size: 0.78125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.6;
      margin-top: 0.5rem;
      color: rgb(107, 114, 128);
      
    }
  }
}
